.selectionOverlay {
	position: fixed;
	top: 20px;
	left: 20px; 
	z-index: 1800;
	width: 300px;
	height: 600px;
	background: rgba(0, 0, 0, 0.8);
	color: var(--neutral-200);
	padding: 1em;
	overflow-y: auto;
}

.selectionHeadline {
	font-weight: 700;
}

.selectionDirectory {
	font-size: 14px;
	padding-bottom: 1em;
	color: var(--neutral-400);
}
