.uiLeaderOverlay {
	background-color: var(--dark-1);
	width: 90vw;
	max-width: 1200px;
	height: 10vh;
	position: fixed;
	bottom: 3em;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1001;
}
.uiLeaderGrid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
	width: 100%;
}
.uiLeaderGrid div {
	padding: 0.75em;
	color: var(--neutral-400);
}
.uiLeaderGrid div b {
	color: var(--accent-600);
}
