.fullscreenHelpOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.95);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1004;
}

.flexRow {
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: left;
}

.uiHelpNodeContainer {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	width: 40em;
}

.uiHelpKeyBox {
	padding: 0.5em;

	border: 1px solid var(--neutral-900);
	background-color: var(--primary-800);
}

.uiHelpNode {
	margin: 0.5em;	

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: left;
	justify-content: left;
}

.uiHelpCommandDescription {
	margin: 0.5em;

	color: var(--neutral-300);
}

.uiHelpCommandDescriptionBelow {
	width: 100%;
	margin: 0.5em;

	color: var(--neutral-300);
}

.uiHelpCommandSub {
	padding: 0.5em;

	font-style: italic;
	color: var(--neutral-600);
}
