.fsElement {
	text-align: left;
	padding: 0.1em 0.5em;
}

.fsBrowserOverlay {
	display: flex;
	align-items: flex-start;
	justify-content: flext-start;
	/*position: fixed;*/
	top: 3em;
	/*left: 50%;*/
	/*transform: translateX(-50%);*/
	width: 90vw;
	margin: 0;
	border: 0.5em solid rgba(0,0,0,0.3);
	min-height: 17vh;
	background-color: rgba(0,0,0,0.3);
}

.fsParentColumn {
	width: 16vw;
}
.fsActiveColumn {
	width: 16vw;
}
.fsPreviewColumn {
	width: 58vw;
}
