.fsElement {
	text-align: left;
	padding: 0.1em 0.5em;
}
.fsElementOpen {
	text-align: left;
	padding: 0.1em 0.5em;
}
.fsElementOpen::after {
    content: "";
    float: right;
    width: 0.8em;
    height: 0.8em;
    background-color: var(--neutral-500);
    margin-left: auto;
	margin-top: 0.38em;
}

.fsBgBorder {
	border: 0.5em solid rgba(0,0,0,0.3);
	background-color: rgba(0,0,0,0.3);
}

.fsFlexColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fsFlexRow {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 1em;
}

.fsBrowser {
	padding: 0em 1.5em 1.5em 1.5em;
	/* min-width: calc(400px + 24em); */
	max-width: calc(1200px + 32em);
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.fsImgBox {
	max-width: 400px;
	max-height: 400px;
	object-fit: cover;
	display: block;
}
.fsImgPreview {
	max-width: 400px;
	max-height: 400px;
	object-fit: cover;
	display: block;
}

.fsHeaderPath {
	padding-bottom: 0.75em;
}

.fsBrowserContainer {
	padding: 1.5em;
}

.fsActiveColumn {
	max-width: 24em;
	min-width: 24em;
}
.fsPreview {
	display: grid;
	grid-template-columns: repeat(3, 400px);
	justify-content: center;
	gap: 0.75em;
}

@media (max-width: 1700px) {
	.fsPreview {
		grid-template-columns: repeat(3, 400px);
	}
	.fsActiveColumn {
		max-width: 20em;
		min-width: 20em;
	}
}
@media (max-width: 1640px) {
	.fsPreview {
		grid-template-columns: repeat(2, 400px);
	}
	.fsActiveColumn {
		max-width: 18em;
		min-width: 18em;
	}
}
@media (max-width: 1200px) {
	.fsPreview {
		grid-template-columns: repeat(2, 300px);
	}
	.fsImgPreview {
		max-width: 300px;
		max-height: 300px;
		object-fit: cover;
	}
	.fsImgBox {
		width: 300px;
		max-height: 300px;
	}
}

@media (max-width: 1000px) {
	.fsPreview {
		grid-template-columns: repeat(2, 200px);
	}
	.fsImgPreview {
		max-width: 200px;
		max-height: 200px;
		object-fit: cover;
	}
	.fsImgBox {
		width: 200px;
		max-height: 200px;
	}
}
@media (max-width: 800px) {
	.fsPreview {
		grid-template-columns: repeat(1, 200px);
	}
}
@media (max-width: 600px) {
	.fsPreview {
		display: none;
	}
}
