.navbar_container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.navbar_mode_active {
	background-color: var(--primary-600);
	color: var(--neutral-300);
	width: 6em;
	height: 1.5em;
	padding-top: 0.25em;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar_mode {
	color: var(--neutral-500);
	width: 6em;
	height: 1.5em;
	padding-top: 0.25em;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar_cursor {
	display: inline-block;
	margin: 1px;
	width: 2px;
	height: 1.3em;
	color: var(--primary-400);
	background-color: var(--primary-400);
	vertical-align: baseline;
}

.navbar_text {
	padding-top: 0.25em;
}

.navbar_text_command {
	padding-top: 0.25em;
	color: var(--neutral-100);
}
