:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: var(--neutral-300);
	background-color: var(--neutral-900);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	padding-bottom: 40px;

	/* Primary: Singapore Orchid */
	--primary-100: #FDF2FF;
	--primary-200: #F1BEFF;
	--primary-300: #DE89FD;
	--primary-400: #C353F9;
	--primary-500: #A01FF0;
	--primary-600: #6E0ABD;
	--primary-700: #47028B;
	--primary-800: #270059;
	--primary-900: #0F0026;

	/* Accent: Caribbean Blue */
	--accent-100: #F2FBFF;
	--accent-200: #BBEBFE;
	--accent-300: #82DEFB;
	--accent-400: #49D3F0;
	--accent-500: #14C4DB;
	--accent-600: #07A4AE;
	--accent-700: #018181;
	--accent-800: #00544F;
	--accent-900: #002622;

	/* Neutral */
	--neutral-100: #FCFAFC;
	--neutral-200: #EAE6EB;
	--neutral-300: #D7D2DA;
	--neutral-400: #C5BFC9;
	--neutral-500: #B3ADB8;
	--neutral-600: #8E8993;
	--neutral-700: #6A666F;
	--neutral-800: #46444B;
	--neutral-900: #242226;

	/* Dark BG */
	--dark-1: #111;
}

body {
	margin: 0;
}
::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	background: var(--neutral-900);
}
::-webkit-scrollbar-thumb {
	background: var(--primary-700);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--primary-600);
}
.container {
	padding-top: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.row {
	display: flex;
	justify-content: center;
}

.navigation-overlay {
	margin: 0;
	border-right: 0.5em solid rgba(0,0,0,0.3);
	min-height: calc(100vh - 2.5em);
}

.bottom-overlay {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--dark-1);
	color: var(--neutral-600);
	text-align: left;
	padding: 0.5em;
}

.colContainer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.fsCol {
	width: 250px;
	flex-shrink: 0;
}
.col {
	text-align: left;
	flex: 1;
}
