.titlebar {
	height: 29px;
	width: 230px;
	position: fixed;
	right: 0;

	display: flex;
	justify-content: space-between; 
	align-items: center;

	background-color: var(--neutral-900);
	border-bottom: 1px solid var(--neutral-700);
	border-left: 1px solid var(--neutral-700);
	user-select: none;
	-webkit-app-region: drag;
}
.titlebarTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--neutral-600);
	padding-left: 0.5em;
}
.titlebarButtons {
	display: flex;
}
.titlebarButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	font-size: 24px;
	/*font-family: 'Segoe UI', system-ui, sans-serif;*/
	color: var(--neutral-600);
	cursor: pointer;
	transition: background-color 0.15s ease;
	-webkit-app-region: no-drag;
}

.titlebarButton:hover {
	background-color: var(--neutral-800);
}

.titlebarButton:active {
	background-color: var(--neutral-400);
}

/* Close button gets special treatment */
.titlebarButton:last-child:hover {
	background-color: var(--primary-500);
	color: white;
}

.titlebarButton:last-child:active {
	background-color: var(--primary-500);
}

